<span style="font-size: 14pt">MIPT, Advanced ML, Autumn 2017</span>

<span style="font-size: 16pt"> HW #9: Recommendation System

<span style="color:blue; font-size: 12pt">Andrey Saitgalin </span>
<span style="color:blue; font-size: 12pt; font-family: 'Verdana'">andrey.saitgalin@gmail.com</span>, 

<span style="color:blue; font-size: 12pt">Alexey Dral </span>,
<span style="color:blue; font-size: 12pt; font-family: 'Verdana'">aadral@gmail.com</span>

<h1 align="center">Organization Info</h1>

**Дополнительный материал для выполнения дз**:
<a href= "https://github.com/ml-mipt/ml-mipt-part2/tree/master/2017/lectures">Лекции по курсу</a>

**Оформление дз**: 
- Присылайте выполненное задание на почту ``ml.course.mipt@gmail.com``
- Укажите тему письма в следующем формате ``ML2017_Aut_fall <номер_группы> <фамилия>``, к примеру -- ``ML2017_Aut_fall 401 ivanov``
- Выполненное дз сохраните в файл ``<фамилия>_<группа>_task<номер>.ipnb``, к примеру -- ``ivanov_491_task9.ipnb``

**Вопросы**:
- Присылайте вопросы на почту ``ml.course.mipt@gmail.com``
- Укажите тему письма в следующем формате ``ML2017_Aut_fall Question <Содержание вопроса>``

** Дедлайн**:
<span style="color:red; font-size: 12pt">16.12.2017 23:59 </span>

--------
- **PS1**: Мы используем автоматические фильтры, и просто не найдем ваше дз, если вы не аккуратно его подпишите.
- **PS2**: Напоминаем, что дедлайны жесткие, письма пришедшие после автоматически удаляются =( чтобы соблазна не было.

<h1 align="center">Check Questions (0%)</h1> 
Вопросы отсутствуют

<h1 align="center"> Practical tasks (100%)</h1>


# Построение content-based рекомендательной системы
## Part 1
Для каждого фильма получите описание в текстовом виде с IMDB или (и) The movie database (у них есть открытое API). https://www.themoviedb.org/?language=ru. Вывести описание фильма под id 778. Также можно использовать рецензии.

In [2]:
import tmdbsimple as tmdb
tmdb.API_KEY = '8e3dcefbeebdf4e7f1776aca65359931'

In [5]:
movie = tmdb.Movies(778)

In [6]:
print(movie.info())

{'title': "Monsieur  Hulot's Holiday", 'overview': 'Monsieur Hulot, Jacques Tati’s endearing clown, takes a holiday at a seaside resort, where his presence provokes one catastrophe after another. Tati’s masterpiece of gentle slapstick is a series of effortlessly well-choreographed sight gags involving dogs, boats, and firecrackers; it was the first entry in the Hulot series and the film that launched its maker to international stardom.', 'release_date': '1953-02-26', 'status': 'Released', 'vote_count': 84, 'original_title': 'Les vacances de Monsieur Hulot', 'original_language': 'fr', 'belongs_to_collection': None, 'genres': [{'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}], 'budget': 0, 'id': 778, 'popularity': 4.765439, 'vote_average': 7.3, 'adult': False, 'video': False, 'poster_path': '/r4F4tsU0Ajeh9ZYUkWOJSYmioj7.jpg', 'backdrop_path': '/zF95knRgouUrBNbUh5oqRI5NIcE.jpg', 'revenue': 0, 'tagline': "It's laugh-vacation time as Jacques Tati romps through the most gloriously mad lark ever to tickle the ribs of young and old alike!", 'production_countries': [{'iso_3166_1': 'FR', 'name': 'France'}], 'spoken_languages': [{'name': 'Français', 'iso_639_1': 'fr'}], 'imdb_id': 'tt0046487', 'runtime': 87, 'production_companies': [{'id': 478, 'name': 'Cady'}, {'id': 479, 'name': 'Discina'}], 'homepage': ''}

In [7]:
movie.info()['overview']

'Monsieur Hulot, Jacques Tati’s endearing clown, takes a holiday at a seaside resort, where his presence provokes one catastrophe after another. Tati’s masterpiece of gentle slapstick is a series of effortlessly well-choreographed sight gags involving dogs, boats, and firecrackers; it was the first entry in the Hulot series and the film that launched its maker to international stardom.'

## Part 2 
Извлеките текстовые признаки у фильмов: tf idf, биграммы (может какие-то еще). Биграммы - статистика по биграммам, сколько какая биграмма встречается. Формулы для TF-IDF смотреть тут: https://en.wikipedia.org/wiki/Tf%E2%80%93idf 
    1. Используйте TF с double 0.5 normalization
    2. Используйте стандартный IDF: 
$$idf(t, D) = \frac{log N}{(1 + |d in D : t in d|)}$$

In [8]:
if False:
    with open("movies_info.tsv", "w") as f:
        for i in range(2, 1000000000):
            try:
                movie = tmdb.Movies(idx)
                movie_info = movie.info()
                fields = [i, movie_info['title'], movie_info['overview'], movie_info['genres'], 
                          movie.reviews()['results']]
                filter_forbidden_chars = lambda s: str(s).replace('\t', ' ').replace('\n', ' ')
                s = ('\t'.join(map(filter_forbidden_chars, fields)))
                print(s)
                f.write(s + "\n")
            except:
                print("id not found", i)

In [9]:
import pandas as pd

In [29]:
tmdb_movies = pd.read_csv("movies_info.tsv", delimiter='\t', names=['id', 'title', 'overview', 'genres', 'reviews'], index_col=0)
tmdb_movies.head(2)

,title,overview,genres,reviews
id,,,,
2,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",[]
3,Shadows in Paradise,"An episode in the life of Nikander, a garbage ...","[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",[]

In [31]:
tmdb_movies.index = pd.to_numeric(tmdb_movies.index, errors='coerce')
tmdb_movies.dropna(inplace=True)

In [118]:
import ast
import numpy as np
import scipy
from IPython.display import display
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import scipy.spatial.distance as ssd

In [40]:
movie_text = {}

def extract_genres(s):
    text = ""
    try:
        genres = ast.literal_eval(s)
        for g in genres:
            text = text + " " + g['name']
    except KeyboardInterrupt:
        raise
    except:
        pass
    return text

def extract_reviews(s):
    text = ""
    try:
        reviews = ast.literal_eval(s)
        for r in reviews:
            text = text + " " + r['content']
    except KeyboardInterrupt:
        raise
    except: 
        pass
    return text

for idx, row in tmdb_movies.iterrows():    
    
    text = " ".join([row.title, row.overview, extract_genres(row.genres), 
                     extract_reviews(row.reviews)])
    
    movie_text[int(idx)] = text

In [41]:
movie_text_items = movie_text.items()
movie_text_values = [x[1] for x in movie_text_items]

matrix_to_tmdb_id = {} # matrix ~ X
for i, val in enumerate(movie_text_items):
    matrix_to_tmdb_id[i] = val[0]

In [48]:
vectorizer = TfidfVectorizer(max_df=0.8, max_features=500,
                             min_df=0.01, stop_words='english',
                             use_idf=True)
Xs = vectorizer.fit_transform(movie_text_values).toarray()

X = {}

for i in range(len(Xs)):
    X[matrix_to_tmdb_id[i]] = Xs[i]

In [173]:
# фичи tfidf для фильма с id 92
X[92]

array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.53876021,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.84245916,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [58]:
count_vectorizer = CountVectorizer(stop_words='english', ngram_range=(2, 2))
bigrams_s = count_vectorizer.fit_transform(movie_id_text.values())

bigrams = {}

for i in range(len(Xs)):
    bigrams[matrix_to_tmdb_id[i]] = bigrams_s[i]

In [61]:
print(bigrams[2].shape)

(1, 547198)

In [55]:
count_vectorizer.vocabulary_

{'haddonfield town': 215987,
 'boy master': 56590,
 'bad roll': 37073,
 'daughters peter': 115814,
 'spy stumbles': 454951,
 'date best': 114948,
 'parody disney': 355733,
 'fell deeply': 174420,
 'enemy agents': 153065,
 'epic vs': 155944,
 '23 1945': 4243,
 'playing drifter': 369929,
 'ruthless gang': 416985,
 'powers transformation': 376286,
 'prize head': 380451,
 'ii bit': 239812,
 'daughter chaudhary': 115278,
 'son inside': 448849,
 'crabs make': 105624,
 'jorge begins': 259801,
 'proof pudding': 383249,
 'crib number': 107872,
 'mentored drama': 314334,
 'succeed frightening': 469000,
 'models salesmen': 321192,
 'interesting mix': 248548,
 'leaving aeroplane': 278559,
 'couple months': 104185,
 'helen shaver': 224005,
 'faced youngster': 165703,
 'brighton sunny': 59405,
 'pull nicely': 385822,
 'pretty ruins': 378578,
 'brings peace': 60060,
 'story prior': 463448,
 'suspect having': 474007,
 'music atmosphere': 329886,
 'safety innocent': 417997,
 'white bitch': 530397,
 'host overwhelmed': 233995,
 'rumbling sinister': 415549,
 'friendship based': 193635,
 'death lot': 119227,
 'heroin turns': 226279,
 'privileged occasion': 380384,
 'abigail tyler': 6577,
 'frankenstein expelled': 190513,
 'ok basically': 345857,
 'trapped center': 498024,
 'work photographing': 537731,
 'girlfriend little': 203560,
 'rush great': 416512,
 'frustration piece': 194324,
 'friends include': 193227,
 'way expect': 526317,
 'help convince': 224501,
 'feeling inside': 174022,
 'known dark': 270226,
 'farm creatures': 170494,
 'bargained learns': 39318,
 'spy sinister': 454943,
 'aim develop': 15938,
 'eradicated plenty': 156473,
 'thunking cinema': 488867,
 'stuntery abound': 467916,
 'scientists doctors': 424040,
 'scientists michael': 424055,
 'gorgeous babes': 208369,
 'nineties action': 339631,
 'awake paralyzed': 34873,
 'participant casino': 355859,
 'career ziegfeld': 70223,
 'teenagers peter': 481361,
 'father situation': 172113,
 'band recorded': 38296,
 'ship captain': 436995,
 'office shout': 345097,
 'soza sent': 451418,
 'crazed mass': 106368,
 'unless star': 509873,
 'relationship actions': 398889,
 'numbered history': 342504,
 'empire make': 150995,
 'immigration president': 241347,
 'mirror horrified': 318891,
 'discovers identify': 133371,
 'playing fantasy': 369940,
 'following decade': 185691,
 'scientist researching': 423981,
 'sexy action': 434587,
 'barry cinematography': 39697,
 'britian using': 60268,
 'things film': 485788,
 'guns sling': 214946,
 'wealthy people': 527539,
 'walter howlin': 522049,
 'studying music': 467579,
 'turned biggest': 503768,
 'night miami': 338920,
 'paul begin': 358475,
 'allen struggling': 18475,
 'stay order': 459264,
 'templars earth': 482261,
 'law attraction': 275633,
 'job tony': 257730,
 'sequel 1980': 430975,
 'horrors day': 233557,
 'shot actual': 438290,
 'left brother': 279237,
 'looking apartments': 292084,
 'outside san': 351259,
 'cuba real': 110281,
 'wasn paid': 524770,
 'people mysterious': 360508,
 'long fine': 291292,
 'man goes': 302552,
 'described near': 124857,
 'friend cal': 192253,
 'har dragit': 218822,
 'smuggled drug': 446364,
 'starting childhood': 458083,
 'playboy jung': 369343,
 'rajpal yadav': 391108,
 'curator george': 110885,
 'liberation chocolate': 281863,
 'push pack': 386983,
 'muncher bumbling': 328433,
 'means thrilling': 310849,
 'literally suspense': 287016,
 'spread billu': 454597,
 'accident voiture': 7944,
 'close eyes': 88047,
 'cause murray': 73767,
 'gallagher hurt': 196436,
 'splendid character': 453925,
 'trials triumphs': 499428,
 'gang young': 197536,
 'difficult relationship': 130277,
 'general staff': 199239,
 'hall fans': 216487,
 'specifically play': 452579,
 'gang neo': 197381,
 'identities alexandra': 239279,
 'slip cross': 445105,
 'minutes terrance': 318722,
 'fall endless': 167256,
 'convinces hercule': 100966,
 'yves edwards': 545733,
 'life rural': 283470,
 'years ago': 543029,
 'quarantine devise': 387727,
 'man savannah': 303142,
 'tales range': 478022,
 'op bevel': 347646,
 'inspired murder': 246973,
 'influences chinese': 245076,
 'video starring': 516665,
 'man settled': 303185,
 'faster faster': 171094,
 'smothering claustrophobic': 446345,
 'maybe lose': 309750,
 'accumulation civilization': 8552,
 'powers fullest': 376223,
 'dr stratman': 139845,
 'eeyore kanga': 147668,
 'time continuum': 489829,
 'like idiot': 284901,
 'years settled': 543558,
 'slavery account': 444519,
 'helicopter crews': 224050,
 'forces ordered': 187400,
 'comedy shower': 92460,
 'success magical': 469145,
 'recording album': 396538,
 'shots streetwise': 438565,
 'ancient sect': 21580,
 'yard murdered': 542494,
 'live introduced': 287887,
 'arsenal voltage': 28526,
 'diner shows': 130684,
 'business stripped': 65001,
 'supposed trouble': 472221,
 'chris tough': 82597,
 'kelly splendid': 264486,
 'meatball machine': 311024,
 'forest set': 187841,
 'contest bravery': 99487,
 'early 80s': 145179,
 'upsetting connie': 511298,
 'parable love': 354445,
 'family forced': 168424,
 'true wwii': 501739,
 'work character': 537333,
 'quiet western': 388904,
 'sneaker sole': 446588,
 'collection animated': 90252,
 'act risk': 9123,
 'cox repo': 105587,
 'city sons': 85120,
 'work exactly': 537450,
 'perfect claims': 360991,
 'attract backgrounds': 32852,
 'tigerland doesn': 489277,
 'involved gun': 250880,
 'austria heads': 33871,
 'doesn react': 136977,
 'precocious girl': 376793,
 'uncle farm': 506676,
 'general nazi': 199207,
 'like terrorist': 285362,
 'stunning haunting': 467840,
 'group controlled': 212749,
 'kid stuffing': 265522,
 'condor bookish': 96765,
 'receives football': 395728,
 'despite destined': 125860,
 'ends taking': 152921,
 'unanswered personal': 506332,
 'alternative heir': 19153,
 'tells incredible': 482031,
 'formula series': 188756,
 'unbelievable basketball': 506498,
 'joe contend': 257929,
 'actually fantasy': 10689,
 'rathbone bruce': 392422,
 'notebook old': 341391,
 'commander worthiness': 93570,
 'custody torben': 111417,
 'magical performance': 299195,
 'strong reactions': 466144,
 'takeo wife': 476685,
 'inspired gladiator': 246949,
 'fiction suffers': 175835,
 'entry help': 155683,
 'town infected': 495281,
 'christ figure': 82627,
 'royal title': 414914,
 'circumstances dying': 84284,
 'understand funny': 507530,
 'word english': 536994,
 'sets truck': 433516,
 'begins pair': 44070,
 'important red': 241893,
 'south jutland': 451187,
 'hole crowded': 229972,
 'musical composer': 330392,
 'arachnophobia large': 26146,
 'hidden compartment': 226624,
 'knows doctors': 270526,
 'really dragging': 394605,
 'noch einen': 339910,
 'jacobs lives': 253766,
 'story offer': 463365,
 'nadine drug': 332076,
 '150 service': 1064,
 'town wild': 495732,
 'destruction intense': 126460,
 'intended comedy': 247960,
 'futuristic prison': 195900,
 'film puts': 178742,
 'lives mother': 288671,
 'work use': 537923,
 'man student': 303287,
 'julio bracho': 261246,
 'powers house': 376230,
 'neighbours dragged': 335966,
 'places iii': 367594,
 'fu girl': 194395,
 'son takashi': 449137,
 'cool takes': 101322,
 'added mix': 11359,
 'clues planted': 88897,
 'different marlowe': 130049,
 'rid jack': 407878,
 'sophie heading': 450169,
 'create propagate': 106637,
 'zijn vriend': 546322,
 'town ante': 494973,
 'jeff wilson': 255905,
 'denna gång': 123724,
 'biding time': 47837,
 'halls guide': 216653,
 'steven moves': 460517,
 'days plane': 117441,
 'forces including': 187361,
 'illness afflicting': 240478,
 'crazy diamond': 106424,
 'plays big': 370126,
 'tell splashy': 481810,
 'gang kicks': 197323,
 'annie message': 23431,
 'view inside': 516961,
 'military post': 317172,
 'tries deceased': 499923,
 'fame dimmed': 167786,
 'sebastian faulks': 426709,
 'growing frustrated': 213373,
 'send team': 429855,
 'bargained action': 39308,
 'california quiet': 66414,
 'artist daniel': 28954,
 'using martial': 512423,
 'kids actually': 265910,
 'hopeful gives': 232602,
 'away wicked': 35657,
 'negotiator catches': 335656,
 'troubled professional': 501228,
 'ruler happy': 415389,
 'ballet saintes': 37854,
 'hurdles setbacks': 237550,
 'gothic chick': 208831,
 'memorable images': 313098,
 'lifetime secretly': 284043,
 'arrive ranch': 28152,
 'life fellow': 282786,
 'chemistry electric': 80001,
 'wrap firefly': 540748,
 'ii struggle': 240027,
 'previous marriage': 378814,
 'secrets guy': 427556,
 'cowboys order': 105556,
 'anglo newcomers': 22561,
 'thought gone': 487066,
 'sir bedevere': 442226,
 'represents countless': 402165,
 'mary comedy': 307432,
 'ii rages': 239988,
 'manage wacky': 303582,
 'requirements emotionally': 402497,
 'plummer cast': 371242,
 'hawking film': 221307,
 'covers stunning': 105384,
 'writer woody': 541202,
 'writing team': 541382,
 'filmnoiroftheweek com': 179700,
 'business maya': 64922,
 'today putting': 492121,
 'holds title': 229955,
 'long reaching': 291436,
 'movie greatest': 326518,
 'reality nightmares': 394090,
 'women greed': 535874,
 'team ismail': 480107,
 'stunts fully': 467947,
 'explore difficulties': 163721,
 'simply basis': 441180,
 'des drachen': 124688,
 'moocher athletic': 323344,
 'privileged ballet': 380376,
 'grace dalrymple': 209305,
 'hand classmate': 217009,
 'involve dagwood': 250770,
 'tour blue': 494524,
 'brags driving': 57515,
 'remember differently': 400812,
 'russian ex': 416747,
 'brutality humans': 62415,
 'companions hurled': 94462,
 'stickmen jack': 460700,
 'pinkie gang': 366499,
 'dog world': 137253,
 'deciding lives': 120911,
 'soho fictional': 447515,
 'attempts crazy': 32303,
 'basic pop': 40408,
 'celebration animation': 74347,
 'ambiance uneasy': 19587,
 'man played': 302984,
 'thinking local': 486402,
 'grandmother awakens': 209998,
 'inside begins': 246453,
 'provides max': 384700,
 'freakishly serene': 190984,
 'watch subtitles': 525199,
 'heartbreaking story': 222849,
 'police pretty': 372490,
 'cracked maybe': 105686,
 'champion mugs': 76039,
 'plot pace': 370928,
 'institute geneticists': 247488,
 'frais payés': 189609,
 'run farm': 415741,
 'successful creatively': 469268,
 'fate eaten': 171296,
 'russian language': 416766,
 'days forms': 117320,
 'obsessed thriller': 343476,
 'presently generations': 377832,
 'tracy robert': 496312,
 'brothers ohayn': 61771,
 'banishment exile': 38571,
 'forgiven sceptical': 188137,
 'patterns honeymoon': 358414,
 'bit shy': 49521,
 'muss kesseln': 330700,
 'blood yellow': 51644,
 'stone disquieting': 461345,
 'coldness woman': 89893,
 'movie tons': 327157,
 'right usa': 408729,
 'scenes johnson': 422362,
 'china looking': 81655,
 'submarine ulysses': 468623,
 'waiting lilly': 521260,
 'flor moreno': 184328,
 'calamity durned': 66233,
 'author believes': 33947,
 'pass wife': 356957,
 'ascension throne': 29359,
 'repeating rifles': 401720,
 'village theater': 517761,
 'luggage lost': 296975,
 'cancelled come': 68118,
 'artist described': 28958,
 'krishnan appearing': 271329,
 'business contract': 64825,
 'gruff bounty': 213719,
 'office warn': 345120,
 'sanchez years': 419261,
 'risk risk': 409586,
 'fraternity near': 190878,
 'decides promising': 120796,
 'angelino jack': 22364,
 'town unique': 495691,
 'invented story': 249912,
 'reach heights': 392932,
 'detectives wendy': 126988,
 'reliant mother': 399936,
 'love hidden': 294728,
 'compassion pirates': 94851,
 'develops sinister': 127725,
 'officer holds': 345217,
 'faced mortality': 165667,
 'woes atrash': 534684,
 'gifts children': 202346,
 'robber comedy': 410548,
 'hardly 10': 219291,
 'request mother': 402409,
 'nations commission': 333763,
 'flawlessly written': 183491,
 'handful passengers': 217228,
 'city girlfriend': 84797,
 'responsible taking': 403900,
 'original material': 349899,
 'world undead': 539829,
 'reserve agency': 403003,
 'lighthearted prank': 284293,
 'robbers smoke': 410629,
 'friend wealthy': 192827,
 'murderous alien': 329373,
 'attempt archie': 32008,
 'barry markowitz': 39715,
 'phillips durango': 364081,
 'fanaticism best': 169513,
 'respectively living': 403706,
 'tsane soon': 502868,
 'stunning progressive': 467863,
 'animals barnyard': 22787,
 'andersonville production': 21705,
 'daughter lynn': 115490,
 'maddox gets': 298467,
 'days lot': 117395,
 'like oh': 285083,
 'year exorcist': 542754,
 'supportive fam': 472118,
 'mistress comedy': 320245,
 'novel engrossing': 341785,
 'worker jenny': 538068,
 'jack flash': 253314,
 'wants touch': 523101,
 'embark affair': 149970,
 'watching week': 525568,
 'offered pardon': 344774,
 'story loyalty': 463256,
 'cold returns': 89849,
 'japery opportunities': 255133,
 'picture madonna': 365340,
 'life start': 283599,
 'coen best': 89537,
 'san thomas': 419234,
 'meets magician': 312174,
 'amateurpiloot uiteindelijk': 19372,
 'cinema curious': 83653,
 'treatment services': 499021,
 'man spurs': 303248,
 'haunt homes': 220624,
 'christmas august': 82856,
 'long family': 291282,
 'gwen tiffani': 215628,
 'jack spends': 253459,
 'war words': 523813,
 'sommersby just': 448536,
 'le film': 276298,
 'decisions determine': 121019,
 'owner pizza': 352294,
 'left hong': 279352,
 'wife mariel': 531517,
 'nuts succeed': 342809,
 'blading exploring': 50408,
 'sentinels series': 430754,
 'doc dilhoefer': 135597,
 'champions august': 76072,
 'fear unknown': 172958,
 'campaign animation': 67748,
 'hotel owned': 234425,
 'bardo opportunistic': 39191,
 'sons vastly': 449645,
 'politicians drug': 373000,
 'scandal veteran': 421478,
 'scathingly draws': 421807,
 'assassination friend': 30294,
 'contains limp': 99243,
 'lonesome pine': 291158,
 'lonely painfully': 291088,
 'morality makers': 323783,
 'hutton followed': 238216,
 'pick random': 365016,
 'plan takes': 368013,
 'setting east': 433575,
 'mother christmas': 324538,
 'newcomer veterinary': 337554,
 'comedy self': 92448,
 'verkeert en': 515264,
 'dagens danmark': 112336,
 'unlike original': 509920,
 'kermit elude': 264796,
 'chance feel': 76316,
 'scientist plots': 423969,
 'efforts reconcile': 148143,
 'train man': 497040,
 'suspected murder': 474094,
 'plot resurrect': 370966,
 'slowed fascinating': 445296,
 'plains africa': 367789,
 'bust marlowe': 65169,
 'weathered like': 527922,
 'newspaper stories': 337891,
 'eyes young': 165146,
 'lots dogs': 293880,
 'follows man': 185976,
 'town car': 495038,
 'laconic pi': 272381,
 'period rescue': 362183,
 'stepbrother sebastian': 460062,
 'objective action': 343122,
 'man pained': 302943,
 'thames low': 484323,
 'jealous ex': 255551,
 'skiing award': 443647,
 'rap act': 391916,
 'training bloody': 497241,
 'flash genius': 183221,
 'rushmore beautiful': 416582,
 'criminals kidnap': 108611,
 'enemy crime': 153088,
 'admired husband': 11870,
 'detective coyle': 126731,
 'challenged stop': 75785,
 'monster movies': 322883,
 'time draw': 489936,
 'pasternak maggie': 357752,
 'opera coronation': 348023,
 'implant safety': 241712,
 'asks date': 29789,
 'danger breaking': 113294,
 'timo behave': 491266,
 'sustenance eats': 474495,
 'sinister eccentric': 442032,
 'friendly neighbors': 192898,
 'street urchin': 465142,
 'gargan having': 198112,
 'manchu race': 303881,
 'desperate scheme': 125692,
 'friendship different': 193672,
 'dedication work': 121251,
 'tour bucharest': 494527,
 'river prejudices': 410028,
 'dinner table': 130760,
 'recognizes respects': 396225,
 'chronological portrayal': 83224,
 'italian signed': 252877,
 'claim action': 85396,
 'students rampaging': 467301,
 'engineer works': 153566,
 'foreign intrigue': 187654,
 'believe framed': 44773,
 'hanna pursues': 217826,
 'creatures save': 107252,
 'followup best': 186126,
 'martin puts': 307209,
 'balloon tells': 37887,
 'sexual predator': 434463,
 'world scientist': 539664,
 'friendship guys': 193718,
 'chainsaws choice': 75606,
 'match big': 308406,
 'father edith': 171678,
 'young football': 544690,
 'burdens reality': 64113,
 'able help': 6777,
 'metropolis gotham': 315399,
 'whats normal': 529913,
 'white mice': 530523,
 'horror sequence': 233491,
 'city hong': 84837,
 'artist portrait': 29032,
 'life buys': 282450,
 'importantly intriguing': 241936,
 'mitchum bendix': 320455,
 'christmas day': 82898,
 'government medical': 209069,
 'sharp respectively': 435938,
 'sale black': 418479,
 'barbie stars': 39155,
 'run idyllic': 415789,
 'like lead': 284964,
 'working fellini': 538286,
 'add complexity': 11278,
 'moves suburbs': 326002,
 'friend tre': 192795,
 'tikki tavi': 489404,
 'costume melodrama': 103003,
 'copy attempt': 101983,
 'cowardly serf': 105483,
 'computer glitch': 96036,
 'partner filming': 356222,
 'enslaving humanity': 154598,
 'allan just': 18303,
 'comic casting': 93160,
 'taken popcorn': 476616,
 'manic depression': 304180,
 'englishman film': 153900,
 'shoes fisherman': 437590,
 'questionable people': 388405,
 'thirteenth floor': 486656,
 'professor comparative': 382055,
 'larry lovers': 274273,
 'performance really': 361583,
 'realising boetticher': 393905,
 'agents best': 14933,
 'cop whilst': 101711,
 'befriends serial': 43353,
 'gives nostalgic': 204506,
 'standard set': 456284,
 'night wake': 339134,
 'craven comedy': 106226,
 'increasingly repelled': 243570,
 'hands particularly': 217471,
 'grandfather military': 209940,
 'lucian bad': 296628,
 'residents place': 403133,
 'sex bad': 434074,
 'nurse catherine': 342685,
 'accomplished trickster': 8348,
 'ascendancy triumph': 29348,
 'personally killing': 362941,
 'talkin artie': 478196,
 'toils hamburger': 492282,
 'truth young': 502241,
 'days country': 117271,
 'releases better': 399815,
 'frightfully funny': 193925,
 'kapitel overview': 263356,
 'hint usually': 228049,
 'quirky high': 389043,
 'mickey twice': 316212,
 'dominate work': 137868,
 'sa list': 417323,
 'bank dick': 38600,
 'enforcement copy': 153296,
 'wandmacher cinematography': 522225,
 'al gore': 16494,
 'dog kidnaps': 137149,
 'canile overview': 68303,
 'adores caress': 12175,
 'bright beautiful': 59309,
 'ellen lover': 149584,
 'persuade return': 363082,
 'fields rapidly': 176075,
 'girls increasingly': 203900,
 'shovels stripper': 438650,
 'actor elisabeth': 10005,
 'prejudices mayor': 377204,
 'happened serie': 218257,
 'planned jail': 368430,
 'age required': 14422,
 'death joyride': 119187,
 'volpe sinister': 520148,
 'means rise': 310834,
 'tim minchin': 489541,
 'cast cunningly': 72342,
 'radu returns': 390252,
 'line minor': 286186,
 'months iii': 323225,
 'dare reveal': 114104,
 'footsteps new': 186716,
 'consideration plot': 98394,
 'follows pattern': 186022,
 'sets costumes': 433320,
 'sant tells': 419554,
 'building comes': 63253,
 'ippolitti reynolds': 251273,
 'triangles misfits': 499476,
 'decided buy': 120531,
 'cimino recent': 83564,
 'kenzaki vows': 264718,
 'effects interview': 147877,
 'circumstances neighborhood': 84306,
 'eyes doing': 164986,
 'harry confront': 219859,
 'zehra secret': 546081,
 'allied advance': 18560,
 'person tv': 362633,
 'army making': 27592,
 'series rugrats': 431944,
 'eventually santa': 159686,
 'beauty matched': 42760,
 'crack green': 105644,
 'contends civil': 99435,
 'fits fortunately': 182898,
 'fy thriller': 195942,
 'hand coordination': 217015,
 'lannington hook': 273898,
 'residents different': 403108,
 'videos date': 516714,
 'paralyzed carry': 354594,
 'carpenter lending': 70924,
 'moroccan customs': 324083,
 'differences complete': 129887,
 'nele coming': 336034,
 'triangle story': 499468,
 'ole bramserud': 346975,
 '2046 2046': 4117,
 'agrees things': 15581,
 'psychopath committing': 385339,
 'earlier near': 145091,
 'job perfect': 257603,
 'perfect man': 361084,
 'length version': 280398,
 'lived smile': 288239,
 'comedies looks': 92017,
 'white man': 530514,
 'brought fiery': 61913,
 'person allowed': 362488,
 'absence time': 7079,
 'suspense picture': 474271,
 'skin pierre': 443883,
 'basement command': 40333,
 'max page': 309506,
 'series unexpected': 432020,
 'renounce high': 401452,
 'museum horror': 329818,
 'friends romeo': 193450,
 'faces unearthly': 165811,

In [62]:
bigrams[92].toarray()

array([[0, 0, 0, ..., 0, 0, 0]])

In [63]:
bigrams[92].shape

(1, 547198)

In [64]:
bigrams[92].toarray()[0]

array([0, 0, 0, ..., 0, 0, 0])

## Part 3 
Выведите подсчитанные признаки из пункта 2 для фильма с id 99114 (нет такого, беру 100).

In [65]:
X[100]

array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.22250924,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.20863495,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.09179988,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.13339703,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.22714663,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.21546751,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.17450474,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.21005257,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.17664247,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.16199021,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.22830225,  0.14641767,  0.        ,  0.        ,  0.17342481,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.46949951,  0.21980486,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.24099772,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.23053177,  0.        ,
        0.        ,  0.        ,  0.18640289,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.29294087,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.21571864,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [66]:
bigrams[100].toarray()[0]

array([0, 0, 0, ..., 0, 0, 0])

In [75]:
def key_by_val(d, value):
    for k, v in d.items():
        if v == value:
            return k

# встречающиеся в фильме биграммы
print([key_by_val(count_vectorizer.vocabulary_, i) for i, bigram_n in enumerate(bigrams[100].toarray()[0]) if bigram_n > 0])

['barrels card', 'beautifully cast', 'brilliantly shot', 'card shark', 'cash quick', 'cast cleverly', 'cleverly produced', 'comedy crime', 'crime just', 'decide pull', 'door comedy', 'enlisted friends', 'far good', 'favorite movies', 'filmography genuinely', 'flat door', 'flaws pointing', 'friends need', 'gang happen', 'genuinely favorite', 'good movie', 'happen operating', 'heist small', 'just plain', 'lock stock', 'losing sketchy', 'lot cash', 'love movie', 'make lot', 'match decide', 'movie actually', 'movie far', 'movie tons', 'movies time', 'need make', 'operating flat', 'pattern ritchie', 'plain love', 'pointing pattern', 'poker match', 'produced movie', 'pull heist', 'quick losing', 'realised written', 'recently realised', 'ritchie filmography', 'shark unwillingly', 'shot beautifully', 'sketchy poker', 'small time', 'smoking barrels', 'stock smoking', 'time gang', 'time watched', 'tons flaws', 'unwillingly enlisted', 'watched recently', 'written brilliantly']

## Part 4
Для каждого пользователя найдите топ жанров, которые нравятся пользователю (можно делать как на семинаре top 5, top 3 и top 2) и порекомендуйте таким пользователя фильмы близкие по текстовому описанию (см. пункт 2). Для оценки результатов пункта 3 используйте метрику HitRate и метрики ранжирования (N)DCG. Формулу для подсчета HitRate можно взять на семинаре,  (N)DCG: https://en.wikipedia.org/wiki/Discounted_cumulative_gain

In [76]:
ml20_movie = pd.read_csv("ml-20m/movies.csv")

In [77]:
ml20_links = pd.read_csv("ml-20m/links.csv")
ml20_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [82]:
movie_to_tmdb_id = {}
tmdb_to_movie_id = {}

problem_idxs = set()

for idx, row in ml20_links.iterrows():
    try:
        movie_to_tmdb_id[int(row.movieId)] = int(row.tmdbId)
        tmdb_to_movie_id[int(row.tmdbId)] = int(row.movieId)
    except:
        problem_idxs.add(idx)
        #print("Problem in idx", idx, row)
        
print(len(problem_idxs))

252

In [102]:
display(ml20_links.tail(3))
display(ml20_movie.head(2))

       movieId   imdbId    tmdbId
27275   131258  3485166  285213.0
27276   131260   249110   32099.0
27277   131262  1724965  286971.0

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [86]:
ml20_ratings = pd.read_csv("ml-20m/ratings.csv")
ml20_ratings.head(2)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676

In [87]:
# copy paste from seminar

In [92]:
from collections import Counter

genres = []

for row in ml20_movie.itertuples():
    genre_list = row.genres.split("|")
    genres.extend(genre_list)

cntr = Counter(genres)
display(cntr)
display(cntr.most_common(5))

Counter({'(no genres listed)': 246,
         'Action': 3520,
         'Adventure': 2329,
         'Animation': 1027,
         'Children': 1139,
         'Comedy': 8374,
         'Crime': 2939,
         'Documentary': 2471,
         'Drama': 13344,
         'Fantasy': 1412,
         'Film-Noir': 330,
         'Horror': 2611,
         'IMAX': 196,
         'Musical': 1036,
         'Mystery': 1514,
         'Romance': 4127,
         'Sci-Fi': 1743,
         'Thriller': 4178,
         'War': 1194,
         'Western': 676})

[('Drama', 13344),
 ('Comedy', 8374),
 ('Thriller', 4178),
 ('Romance', 4127),
 ('Action', 3520)]

In [96]:
ml20_joined = pd.merge(ml20_ratings, ml20_movie[["movieId", "genres"]], on="movieId", how="inner")
ml20_joined.head()

   userId  movieId  rating   timestamp                      genres
0       1        2     3.5  1112486027  Adventure|Children|Fantasy
1       5        2     3.0   851527569  Adventure|Children|Fantasy
2      13        2     3.0   849082742  Adventure|Children|Fantasy
3      29        2     3.0   835562174  Adventure|Children|Fantasy
4      34        2     3.0   846509384  Adventure|Children|Fantasy

In [97]:
def popular_genres(x):
    return Counter("|".join(x.tolist()).split("|"))

def popular_genres_top5(x):
    return popular_genres(x).most_common(5)

ml20_users = ml20_joined.groupby('userId').agg({'genres': [popular_genres_top5]})

In [99]:
ml20_users.head(2)

                                                   genres
                                      popular_genres_top5
userId
1       [(Adventure, 73), (Fantasy, 69), (Action, 66),...
2       [(Sci-Fi, 23), (Thriller, 19), (Action, 19), (...

In [100]:
ml20_users.loc[1]

genres  popular_genres_top5    [(Adventure, 73), (Fantasy, 69), (Action, 66),...
Name: 1, dtype: object

In [107]:
display(ml20_users.loc[1]['genres']['popular_genres_top5'])
display(ml20_users.loc[2]['genres']['popular_genres_top5'])

[('Adventure', 73),
 ('Fantasy', 69),
 ('Action', 66),
 ('Horror', 45),
 ('Drama', 43)]

[('Sci-Fi', 23),
 ('Thriller', 19),
 ('Action', 19),
 ('Drama', 19),
 ('Horror', 18)]

In [113]:
def fast_top_genres(user_id, top_count):
    return ml20_users.loc[user_id]['genres']['popular_genres_top5'][:top_count]

In [114]:
fast_top_genres(user_id=100, top_count=4)

[('Drama', 26), ('Comedy', 24), ('Thriller', 16), ('Action', 12)]

In [116]:
fast_top_genres(2017, 3)

[('Comedy', 16), ('Action', 13), ('Drama', 13)]

In [143]:
vector_len = lambda v : (v * v.T).sum() ** 0.5

def calculate_likeness(rated_movies, movie):
    likeness = 0
    for rated_id, rating, tfidf, bigram, bigram_len in rated_movies:
        try:
            likeness = likeness + \
                       (ssd.cosine(tfidf, movie[1]) + \
                        (bigram * movie[2].T).sum() / bigram_len / movie[3]) * (rating - 3)
        except KeyboardInterrupt:
            raise
        except:
            raise
            pass
        
    return likeness
    

def calculate_likeness_list(user_id):
    ml20_ratings_u = ml20_ratings[ml20_ratings.userId == user_id]
    
    rated_movies = []  # (movieId, rating)
    for idx, row in ml20_ratings_u.iterrows():
        try:
            tmdb_id = movie_to_tmdb_id[int(row.movieId)]
            rating = row.rating
            tfidf = X[tmdb_id]
            bigram = bigrams[tmdb_id]
            rated_movies.append((tmdb_id, row.rating, tfidf, bigram, vector_len(bigram)))
        except:
            pass
    
    # backup
    with open("likeness.tsv", 'w') as f:
        idx_to_likeness_list = []
        for idx, row in tmdb_movies.iterrows():
            try:
                tfidf = X[idx]
                bigram = bigrams[idx]
                likeness = calculate_likeness(rated_movies, (idx, tfidf, bigram, vector_len(bigram)))
                idx_to_likeness_list.append((idx, likeness))
                f.write(str(idx) + "\t" + str(likeness) + "\n")
                f.flush()
            except:
                print("problem with", idx)
                raise
        
    return idx_to_likeness_list

In [ ]:
likeness_list = calculate_likeness_list(2)

In [171]:
likeness_list_fixed = list(map(lambda x: (int(x[0]), x[1]), likeness_list))
top = sorted(likeness_list_fixed, key=lambda x:x[1])[:10]
top

[(609, 107.00727754),
 (10195, 107.19161189399999),
 (10140, 107.21920309399999),
 (578, 107.53372634899999),
 (24418, 107.99211289799999),
 (98, 108.49449593600001),
 (10764, 108.55491052799999),
 (630, 108.68208507999999),
 (11906, 108.78268886399999),
 (1895, 108.820072834)]

In [172]:
# рекоммендации для пользователя 2
[tmdb_movies[tmdb_movies.index == tmdb_id].title for tmdb_id, likeness in top]

[id
 609.0    Poltergeist
 Name: title, dtype: object, id
 10195.0    Thor
 Name: title, dtype: object, id
 10140.0    The Chronicles of Narnia: The Voyage of the Da...
 Name: title, dtype: object, id
 578.0    Jaws
 Name: title, dtype: object, id
 24418.0    Cirque du Freak: The Vampire's Assistant
 Name: title, dtype: object, id
 98.0    Gladiator
 Name: title, dtype: object, id
 10764.0    Quantum of Solace
 Name: title, dtype: object, id
 630.0    The Wizard of Oz
 Name: title, dtype: object, id
 11906.0    Suspiria
 Name: title, dtype: object, id
 1895.0    Star Wars: Episode III - Revenge of the Sith
 Name: title, dtype: object]

Нет времени делать оценку качества, увы(